@import url(http://fonts.googleapis.com/css?family=Coda);

.green-logo { color: #5ba39a; }
.blue-logo { color: #4e5d84; }

.home-banner .media-body { padding-left:20px; }
.home-banner .logo { font-family: 'Coda', cursive; }
.home-banner .logo h1 {
  margin-bottom: 0px;
}
.home-banner .logo h2 {
  margin-top: -8px;
  font-size:55px;
}
.home-banner .dates {
  margin-top: 55px;
  margin-bottom:25px;
}

.news-head p {
  font-size: 12px;
  margin-top:-10px;
}
.news-content {
  margin-bottom:40px;
}

.row-more-act {
  background:#e7e7e7; 
  margin-top:30px;
}
.more-act-bar {
  cursor:pointer;
  color:#888;
  margin:15px 0;
}
.more-act-bar:hover {
  color:#666;
}
.more-act-on { display:none; }

@media (max-width: 500px) {
  .home-banner .media img {
    display:none;
  }
}

@media (max-width: 991px) {
  .home-banner .logo h1 {
    font-size:47px;
  }
  .home-banner .logo h2 {
    font-size:42px;
  }
}
