@import url(http://fonts.googleapis.com/css?family=Coda);

.green-logo { color: #5ba39a; }
.blue-logo { color: #4e5d84; }

.home-banner .media img { width:100%; }
.home-banner .media-body { padding-left:20px; }
.home-banner .logo { font-family: 'Coda', cursive; }
.home-banner .logo h1 {
  margin-bottom: 0px;
}
.home-banner .logo h2 {
  margin-top: -8px;
  font-size:55px;
}
.home-banner .dates {
  margin-top: 55px;
  margin-bottom:25px;
}

@media (max-width: 500px) {
  .home-banner .media img {
    display:none;
  }
}

@media (max-width: 991px) {
  .home-banner .logo h1 {
    font-size:47px;
  }
  .home-banner .logo h2 {
    font-size:42px;
  }
}
